/* I just yoinked the css from another project */

* {
	font-family: 'Fira Mono', monospace;
	color: #e5e9f0;
}

body,
input,
textarea {
	background-color: #3b4252;
}

body {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}
